#root {
  max-width: 1366px;
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-size: cover;
}

@media print, (prefers-reduced-motion: reduce) {
  .animate__animated {
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
    -webkit-transition-duration: 1s !important;
    transition-duration: 1s !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}
